
body{
    margin:0px 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 130%;
}

hr{
    margin: 50px auto;
    width:10%;
    border-style: dotted none none none;
    border-width: 5px;
    color: #3d6541;
}

h1{
    font-size:5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #3d6541;

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #3d6541;
    font-weight:normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:#3d6541;
}

a{
    color:#3d6541;
    margin: 10px 20px;
}

.start-note{
    color:#40514E ;
    width: 30%;
    margin: auto;
}


.top-container{
    background-color:#c0fa91;
    position:relative;
    padding-top:100px;
    
}

#dev-img{
    height: 350px;
    width: 600px;
}
.middle-container{
    margin: 100px 0;
}

.bottom-container{
    margin-top: 50px;
    background-color: #738570;
    padding: 50px 0 20px;
}

.bottom-cloud{
    position:absolute;
    left:250px;
    bottom:300px;

}

.top-cloud{
    position:absolute;
    right:300px;
    top:50px;

}



.skill-row{
    width: 50%;
    margin:200px auto;
    text-align:left;
    line-height:1.5;
    /* margin:; */
}

.skill-img{
    width:40%;
    float: left;
    margin-right: 30px;
}

.guitar-img{
    width:40%;
    float: right;
    margin-left:30px;
}

.btn{
    border-radius: 8px;
    background-image: linear-gradient( #3d6541,#495a45);
    color: white;
    padding: 12px;
    text-decoration: none;
    margin: 4px;
}
.btn:hover{
    background-image: linear-gradient( #526953,#6b8e64);
    height: 100px;
}

.copy-right{
    color: #EAF6F6;
    padding-top: 20px;
}